* {
  	box-sizing: border-box;
  	font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
.headbot	{
    /*background: repeating-linear-gradient(45deg, #f0f2ed, #f0f2ed 20px, #f8f4eb 20px, #f8f4eb 30px);*/
    background: repeating-linear-gradient(45deg, #f0f2ed, #f0f2ed 10px, #f8f4eb 10px, #f8f4eb 20px);
    box-shadow: 0 4px 4px rgba(0,0,0,.2);
	  color: #0893F7 !important;
    font-weight: bold;
	  padding: 0px 0px;
    text-align: center;
    width: 100%;
}
.headbot img {
  float: left;
  width: 95px;
  height: 95px;
  background: #555;
}
.selectdrop{
  width: 290px;
  height: 40px;
  margin-bottom: 0px;
  padding: 0px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
